@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,600,700,800&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
     font-family: "Poppins", sans-serif;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("../img/5.-EL.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.header-content p{
   font-size:16px;
   padding: 0 150;
}


.header-content{
   font-weight: 800;
}

.menu{
   position:absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo{
   color: #000000;
   font-size: 25px;
   font-weight: 800;
}

.menu .navbar ul li{
   position: relative;
   float: left;
}

.menu .navbar ul li{
   font-size: 18px;
   padding: 20px;
   color: #440b0b;
   display: block;
   font-weight: 600;
}

.menu .navbar ul li a:hover{
   color: #ce967b;
}

#menu{
   display: none;
}

.menu-icono{
   width: 25px;
}

.menu label{
   cursor: pointer;
   display: none;
}

.header-content{
   text-align: center;
}

.header-content h1{
   font-size: 75px;
   line-height: 80px;
   color: #6684c2;
   text-transform: uppercase;
   margin-bottom: 35px;
}

.btn-1{
   display: inline-block;
   padding: 11px 35px;
   background-color: #CE967B;
   color:#2c303a ;
   text-transform: uppercase;
}

.btn-1:hover{
 background-color: #ebad8d;  
}

.Orientacion{
   padding: 100px 0;
   background-color: #2c303a;
   position: relative;
}

.Orientacion-content{
   text-align: center;
}

.Orientacion-content h2{
   font-size: 55px;
   line-height: 70px;
   color: #000000;
   text-transform: uppercase;
   padding: 0 25px;
   margin-bottom: 5px;
}

.txt-p{
   font-size: 36px;
   color: #ffffff57;
   padding: 0 65px;
   margin-bottom: 35px;
}

.txt-p2{
   font-size: 36px;
   color: #ffffff57;
   padding: 0 65px;
   margin-bottom: 35px;
}

.Programacion-group{
   background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
   url("../img/5.-el2.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   padding: 100px 0;

}

.lenguajes img{
   width: 200px;
}

.lenguajes img{
    position: absolute;
    top: 0;
    right: 0;
    
}

.lenguajes p{
    color: #999694;
      font-size: 36px;
}

.lenguajes h2{
   color: #ffffff;
}

.Programacion-img{
   position: down;
   top: 0;
   right: 0;
    padding:10px 0;
   
}

.footer{
   padding: 100px 0;
   background-color: #008080;
}

.footer-content {
   display: flex;
   justify-content: space-between;
}

link h3{
   font-size: 18px;
   color: #f9fafc;
   margin-bottom:15px;
}

.link a{
   font-size: 16px;
   color: #C5C5C5;
   display: block;
   margin-bottom: 15px;
}

.footer-content p{
   color: #C5C5C5;
}